// blog header image
.blog {
  background-image: url(../assets/blog-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  height: 65vh;
}

// section remove padding
.blog-main-content {
  padding: 0;
}

// background 
.blog-page-container{
  background-color: $light-primary;
  color: $light-white;
    .blog-main-content {
      display: flex;
      justify-content: space-between;
    }
}

// feature article
.blog-main-feature {
  background-color: $tertiary;
  width: 60%;
  position: relative;
  top: -100px;
    img {
      position: relative;
      top: -30px;
      width:98%;
      box-shadow: 18px 18px $secondary;
    }
    h2 {
      margin-top: 30px;
    }
    .author-info {
      color: $light-primary;
      margin-top: 20px;
      margin-bottom: 40px;
    }
    p:last-child {
      margin-bottom: 70px;
    }
}

.article-card {
  top: -21px;
  position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 103%;
      height: 125%;
      top: -11%;
      left: -5%;
      box-shadow: 18px 18px $secondary;
    }
}

// aside article
.blog-article-sidebar {
  background-color: $tertiary;
  width: 25%;
  top: 100px;
  height: 100%;
  padding-bottom: 40px;
  position: relative;
    img {
      width: 94%;
      left: 22px;
      top: -20px;
      position: relative;
    }
    ul {
      padding: 0;
        li {
          list-style-position: inside;
          }
    }
}

// Comments styling
.blog-comments-section {
  color: $primary;
  top: -50px;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
    h4 {
      margin-bottom: 40px;
    }
    p {
      color: $dark-secondary;
    }
}

// Comments user profile
.blog-user-comment {
  display: flex;
  margin-bottom: 50px;
    .profile-image {
      width: 10%;
        img {
          width: 100%;
        }
    }
}

// user comment text 
.blog-comment {
  width: 70%;
    .post-time {
      font-weight: 700;
      margin-bottom: 10px;
    }
    .post-time, .user-comment {
      margin: 0;
      margin-left: 20px;
    }
}

.user-form {
  padding-top: 0;
}
// button style
.blog-comment-form {
    button {
      color: $light-white;
      background-color: $primary;
      transition: background-color 0.1s ease-out;
    }
    button:hover, button:focus {
      background-color: $secondary;
    }
}

