// blog styles

.blog {
  background-image: url(../assets/blog-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  height: 50vh;
}
// section padding reset
.main-blog-content {
  padding: 0;
}

// background color
.blog-backdrop {
  color: $light-white;
  background-color: $light-primary;
    .main-blog-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
      p, ul {
      margin: 10px;
      }
  }
}

// main article
.new-collection {
  background-color: $tertiary;
  top: -100px;
  width: 60%;
  position: relative;
  img {
    position: relative;
    top: -30px;
    width:98%;
    box-shadow: 15px 15px $secondary;
  }
  h2 + p {
    color: $light-primary;
    margin-bottom: 40px;
  }
  .article-card {
    background-color: $tertiary;
    top: -21px;
    position: relative;
    width: 98%;
    padding: 20px;
    position: relative;
  }
  .article-card:after {
    content: "";
    position: absolute;
    top: -2%;
    left: -2%;
    height: 104%;
    width: 102%;
    box-shadow: 15px 15px $secondary;
  }
}

// aside article
.our-mission {
  background-color: $tertiary;
  width: 30%;
  height: 100%;
  padding-bottom: 40px;
  img {
    top: -20px;
    left: 20px;
    position: relative;
  }
  h4 ~ p {
    margin-bottom: 30px;
  }
  li {
    list-style-position: inside;
  }
}

// Comments styling
.blog-comments {
  color: $primary;
  top: -100px;
  position: relative;
  h4 {
    margin-bottom: 40px;
  }
  p {
    color: $dark-secondary;
  }
}

// Comments user profile
.blog-user-comment {
  display: flex;
}

// user image block 
.profile-image {
  width: 10%;
  img {
    width: 100%;
  }
}

// user comment text 
.blog-comment {
  width: 70%;
  margin-bottom: 50px;
  p:first-child {
    font-weight: 700;
    margin-bottom: 10px;
  }
  p {
    margin: 0;
    margin-left: 20px;
  }
}