// Home button
// Dark button
.btn {
  font-family: $primaryFont;
  color: $primary;
  margin-top: 20px;
  display: inline-block;
  a {
    text-decoration: none;
    padding: 2px 35px;
  }
}

// Light button
.btn-primary-style {
  a {
    background-color: $primary;
    color: $light-white;
  }
}

.btn-secondary-style {
  a {
    background-color: $light-secondary;
    color: $primary;
  }
}