// Dark button
.btn {
  font-family: $primaryFont;
  color: $primary;
  margin-top: 15px;
  display: inline-block;
    a {
      text-decoration: none;
      padding: 2px 35px;
      position: relative;
      transition: background-color 0.1s ease-in-out;
    }
}

// primary button hover
.btn-primary-style {
  a {
    color: $light-white;
    background-color: $primary;
  }
  a:hover, a:focus {
    color: $light-white;
    background-color: $secondary; 
  }
}

// secondary button hover
.btn-secondary-style {
  a {
    color: $primary;
    background-color: $light-secondary;
  }
  a:hover, a:focus {
    color: $light-white;
    background-color: $primary; 
  }
}

// post - button styling
button {
  font-family: $primaryFont;
  background-color: $primary;
  color: $light-white;
  border: 0;
  width: 100%;
  padding: 8px 0;
  letter-spacing: 3px;
}

// contact form button
.contact-section-container {
  button {
    color: $tertiary;
    background-color: $light-secondary;
    transition: background-color 0.1s ease-out;
  }
  button:hover, button:focus {
    color: $light-white;
    background-color: $dark-primary;
  }
}



