// contact section header
.contact {
  background-image: url(../assets/contact-header.jpg);
  height: 55vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}

// icon list
.contact-icons {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 55%;
  span {
    font-size: 1.1rem;
  }
}

// contact social icoms
.contact-info-icons {
  width: 22%;
  a {
    margin: 20px 0;
    display: inline-block;
    color: inherit;
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
}


