.contact-form-info {
  background-color: $light-primary;
  form {
    position: relative;
    top: -140px;
    background-color: $tertiary;
    width: 70%;
    box-shadow: 20px 20px $secondary;
    fieldset {
      width: 100%;
      padding: 60px;
    }
  }
}

.contact-sections {
  display: flex;
  justify-content: space-between;
}

// contact form styling
button {
  color: $tertiary;
  background-color: $light-secondary;
}

// social icoms
.contact-info-icons {
  width: 22%;
  a {
    margin: 20px 0;
    display: inline-block;
    color: inherit;
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
}
