// Media query widths
$desktop-width: 1024px;
$tablet-md-width: 940px;
$tablet-width: 768px;
$mobile-width: 480px;

// media query mixins
// view below for application
@mixin media-xl {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin media-lg {
  @media (max-width: #{$tablet-md-width}) {
    @content;
  }
}
@mixin media-md {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin media-sm {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

// media query application 
// desktop - 1024px and below
@include media-xl {

} 

// medium desktop or large tablet - 940px and below
@include media-lg {
.home-box-pic {
display: none;
}
.btn {
  font-family: $primaryFont;
  color: $primary;
  margin-top: 10px;
  display: inline-block;
  // width: 100%;
  background-color: $primary;
    a {
      text-decoration: none;
      padding: 10px 70px;
    }
}

.btn-secondary-style {
  background-color: $light-secondary;
}
.dropdown {
  ul {
    visibility: hidden;
    position: fixed;
  }
  .fa-bars {
    font-size: 2rem;
    display: inline-block;
  }
}

.dropdown {
  ul {
    visibility: hidden;
    position: absolute;
  }
  .fa-bars {
    font-size: 2rem;
    display: inline-block;
  }
  .fa-bars::active {
    visibility: visible;
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
}

// flex direction change
.section-info-outer,
.gallery,
.section-main-container,
.info-main,
.left-block-content,
.right-block-content,
.contact-section-outer {
  flex-direction: column;
  flex-wrap: wrap
}

.home {
  h1 {
    width: 80%;
    @include fontSize(60);
  }
}

// set padding to 0
.section-info {
  padding: 0;
}

.section-info-outer {
  padding: 20px 0;
  padding-bottom: 180px;
    .section-info-content {
      text-align: center;
      margin: 0 auto;
      width: 100%;
    }
    .section-info-image {
        margin: 0 auto;
        margin-top: 130px;
        width: 80%;
    }
  }

// gallery 
.gallery {
  position: relative;
  flex-wrap: wrap;
    ul {
      flex-direction: column;
        li {
          margin: 0 auto;
          width: 80%;
          padding: 20px 0;
        }
    }
}

// info block
.section-main-info-block {
  width: 100%;
    h4 {
      padding: 0;
      margin: 0 auto;
    }
    p {
      margin: 40px 0;
    }
}

.icon-main {
  margin: 0 auto;
}

// section locaiton callout
.layout-section {
  img {
    margin: 0 auto;
    width: 80%;
    position: relative;
  }
}

.left-block-content {
  .description {
    padding-top: 80px;
    left: 0;
    text-align: center;
    width: 80%;
  }
  img {
    top: 0;
  }
}

.right-block-content {
    display: flex;
      .description {
        padding-top: 80px;
        text-align: center;  
        margin: 0 auto;
        width: 80%;
      }
      img {
        margin: 0 auto;
        position: relative;
        box-shadow: 20px 20px $secondary;
      }
}

.search-function-inner {
  h4 {
    @include fontSize(40);
  }
}

// Blog Media Query
.blog-page-container {
  height: 100%;
  padding: 100px 0;
  .blog-main-content {
    flex-direction: column;
    flex-wrap: wrap
  }
}

// blog main feature
.blog-main-feature {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 85%;
  top: 0;
    img {
      margin-top: 80px;
      margin-bottom: 50px;
      align-self: center;
      width:60%;
      box-shadow: 18px 18px $secondary;
    }
}

.article-card {
  position: relative;
    &:after {
      content: "";
      box-shadow: 0px 0px;
    }
}

// aside article
.blog-article-sidebar {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
    img {
      align-self: center;
      width:40%;
      left: 0;
      top: 60px;
      box-shadow: 18px 18px $secondary;
    }
    .description {
      padding: 120px 0;
    }
}

.blog-comments-section {
  color: $primary;
  top: 160px;
  position: relative;
    h4 {
      margin-bottom: 40px;
    }
    p {
      color: $dark-secondary;
    }
}

.blog-comment {
  width: 100%;
}

.blog-comment-form {
  fieldset {
    width: 100%;
  }
}

// contact form
.contact-section-container {
  align-items: center;
    form {
      left: 0;
        fieldset {
          width: 100%;
        }
    }
}

// contact
.contact-social-links {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

// icon list
.contact-icons {
  width: 80%;
    span {
      font-size: 1.5rem;
    }
}

}

 //tablet - 768px and below
@include media-md {

} 

// mobile - 480px and below
@include media-sm {
// general typography changes 
.home {
  background-position: 50%;
  height: 70vh;
  .wrapper {
    height: 100%;
      h1 {
        padding: 20px 0;
        width: 90%;
        @include fontSize(50);   
      }
  }
}

  .logo {
    @include fontSize(30);
  }

// section
.section-info-outer {
  position: relative;
  padding: 0 0 90px 0;
      .section-info-image {
        margin-top: 100px;
        margin-bottom: 20px;
        width: 80%;
        img {
          box-shadow: 10px 10px $secondary;
        }
      }
  }

// section gallery
.gallery {
  padding: 40px 0;
  ul {
    li {
      width: 90%;
      margin: 0 auto;
      padding: 10px 0;
    }
  }
}

// upcoming events
.section-main-links {
   padding: 40px 0; 
   text-align: center;
}

.section-main-info-block {
  h4 {
    margin-top: 5px;    
  }
  p {
    margin: 20px 0 40px 0;
  }
}

// section locations
.section-locations {
  img {
    box-shadow: 10px 10px $secondary;
  }
  .description {
    padding: 40px 0 80px 0;
  }
}
// background
.brand-image-background {
  height: 30vh;
}

.search-function {
  padding: 90px 0;
}

// BLOG PAGE 
.blog {
  background-position: left;
  background-size: cover;
  height: 50vh;
}

.blog-page-container {
  padding-top: 30px;
}

.blog-main-content {
    height: 100%;
}
.blog-main-feature {
  img {
    width: 80%;
    margin: 20px 0;
    position: relative;
    box-shadow: 10px 10px $secondary;
    top: 0;
  }
}

.blog-article-sidebar {
  position: relative;
  top: 50px;
  padding-bottom: 20px;
    img {
      width: 80%;
      margin: 20px 0;
      position: relative;
      box-shadow: 10px 10px $secondary;
      top: 0px;
    }
    .description {
      padding: 20px 0;
    }
}

.blog-comments-section {
  top: 100px;
}

.blog-user-comment {
  flex-direction: column;
    .profile-image {
      width: 30%;
        img {
          width: 100%;
        }
    }
    .blog-comment {
      p {
        margin: 10px 0;
      }
    }
}

fieldset {
  width: 100%;
}

input {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 10px;
}

textarea {
  margin-top: 30px;
}

// CONTACT PAGE
.contact {
  h1 {
    width: 80%;
  }
}

.contact-section-container {
  form {
    box-shadow: 15px 15px $secondary;
      fieldset {
        padding: 50px 30px 80px 30px;
      }
  }
}

.contact-social-links {
  position: relative;
  top: -80px;
  width: 80%;
}

.contact-icons {
  margin: 0 auto;
}
}
