// Media query widths
$desktop-width: 1024px;
$tablet-md-width: 940px;
$tablet-width: 768px;
$mobile-width: 480px;

@mixin media-xl {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin media-lg {
  @media (max-width: #{$tablet-md-width}) {
    @content;
  }
}
@mixin media-md {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin media-sm {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

