$primary: #1A315C;
$secondary: #0cadc0;
$tertiary: #315669;
$light-primary: #ccedfb;
$light-secondary: #bfd4f9;
$light-white: #FFF;
$dark-primary: #1E1713;
$dark-secondary: #161515;

$primaryFont: 'Pacifico', cursive;
$baseFont: 'Lato', Arial, sans-serif;
