$primary: #315669;
$secondary: #0cadc0;
$tertiary: #ccedfb;
$dark-primary: #1A315C;
$dark-secondary: #1E1713;
$dark-tertiary: #161515;
$light-primary: #FFF;
$primaryFont: 'Pacifico', cursive;
$baseFont: 'Lato', Arial, sans-serif;
$font-weights: (
  "regular": 400,
  "bold": 700
)
