@import "partials/normalize";
@import "partials/variables";
@import "partials/wrapper";
@import "partials/nav";
@import "partials/buttons";
@import "partials/blog";
@import "partials/forms";
@import "partials/contact";
@import "partials/typography";
@import "partials/responsive";

// typography styling
html {
  font-size: 125%;
}

// general styling
main {
  position: relative;
}

section {
  padding: 75px 0;
}

// Home section styling 
.home {
  background-image: url(../assets/header-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 80vh;
}

// image position
.home-box {
  top: -320px;
  position: absolute;
  width: 60%;
}

// learn new techniques
.learn-textile {
  background-color: $light-primary;
  .learn-section {
    position: relative;
    top: 100px;
    padding: 100px 0;
    img {
      position: relative;
      top: -50px;
      box-shadow: -15px 15px $secondary;
    }
  }
}

.learn-section {
  display: flex;
  justify-content: space-between;
  .techniques-info {
    width: 60%;
  }
  .techniques-image {
      img {
        align-items: center;
        width: 100%;
    }
  }
}

// thread gallery
.gallery {
  background-color: $tertiary;
  ul {
  display: flex;
  justify-content: space-between;
  // width: 100%;
  li {
    display: inline-block;
    width: calc((100%/3) - 15px);
  }
    img {
      width: 100%;
    }
  }
}

// community workshops
.workshops-blog-info {
  background-color: $light-primary;
  padding: 100px 0;
}

.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.circle-icon {
  width: 58px;
  height: 58px;
  background-color: $secondary;
  border-radius: 50%;
  position: relative;
    span {
      top: 16px;
      left: 14px;
      position: absolute;
      color: $light-white;
      @include fontSize(26);
    }
}

// icon and heading positioning
.icon {
  margin-left: 5px;
}

.fa-file {
  margin-left: 7px;
}

.info-main {
  display: flex;
  h4 {
    margin: 0;
    padding-left: 20px;
  }
}

.info-segment {
  width: calc((100%/2) - 20px);
  p {
    margin-left: 80px;
  }
}

// Teal bg - Discover info
.info-section {
  background-color: $tertiary;
  height: 85vh;
  h4, p {
    color: $light-white;
  }
}

// image styling
.layout-section {
  display: flex;
  position: relative;
  img {
    top: -110px;
    box-shadow: 20px 20px $secondary;
    width: 50%;
    position: absolute;
  }
  .markets-block {
    left: 25%;
    position: relative;
    width: 35%;
    height: 100%;
    margin-bottom: 250px;
  }
}

// positioning on second section
.right-info {
  position: relative;
  top: -50px;
  .locations-block {
    top: -100px;
    text-align: right;  
    position: relative;
    margin-left: 100px;
    width: 38%;
    height: 100%;
    }
  img {
    box-shadow: -20px 20px $secondary;
    position: absolute;
    right: 0;
    width: 45%;
  }
}

// thread background image
.thread-background {
  background-image: url(../assets/banner.jpg);
  background-size: cover;
  height: 400px;
}

// search function
.search-by-style {
  background-color: $light-primary;
  padding: 120px 0;
  .search-styles {
    text-align: center;
    margin: 0 auto;
  }
}