@import "partials/setup";
@import "partials/variables";
@import "partials/typography";
@import "partials/wrapper";
@import "partials/nav";
@import "partials/buttons";
@import "partials/blog";
@import "partials/forms";

// typography styling
html {
  font-size: 125%;
}

// general styling
main {
  position: relative;
}

section {
  padding: 75px 0;
}
// index.html page 
.home {
  background-image: url(../assets/header-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 80vh;
}

.home-box-pic {
  top: -300px;
  position: absolute;
  width: 60%;
}

// learn new techniques
.section-info {
  background-color: $light-primary;
}

.section-info-outer {
  position: relative;
  top: 130px;
  padding: 150px 0;
    img {
      position: relative;
      top: -50px;
      box-shadow: -15px 15px $secondary;
    }
}

.section-info-outer {
  display: flex;
  justify-content: space-between;
    .section-info-content {
      width: 60%;
    }
      .section-info-image {
        img {
          align-items: center;
          width: 100%;
        }
      }
}

// showcase gallery
.gallery {
  background-color: $tertiary;
    ul {
      display: flex;
      justify-content: space-between;
      // width: 100%;
        li {
          display: inline-block;
          width: calc((100%/3) - 15px);
        }
            img {
              width: 100%;
            }
    }
}

// community workshops
.section-main-links {
  background-color: $light-primary;
  padding: 100px 0;
}

.section-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icon-main {
  width: 58px;
  height: 58px;
  background-color: $secondary;
  border-radius: 50%;
  position: relative;
    span {
      top: 16px;
      left: 14px;
      position: absolute;
      color: $light-white;
      @include fontSize(26);
    }
}

.info-main {
  display: flex;
    h4 {
      margin: 0;
      padding-left: 20px;
    }
}
// center align
.fa-calendar-check {
  margin-left: 5px;
}

.fa-file {
  margin-left: 7px;
}


.section-main-info-block {
  width: calc((100%/2) - 20px);
    p {
      margin-left: 80px;
    }
}

// section location callout
.section-locations {
  background-color: $tertiary;
  padding: 75px 0 0 0;
    h4, p {
      color: $light-white;
    }
}

// image styling
.layout-section {
  padding: 0px 0px 60px 0px;
    img {
    width: 45%;
    position: absolute;
  }
}

// position on first section
.left-block-content {
  display: flex;
  position: relative;
  height: 100%;
    img {
      top: -100px;
      box-shadow: 20px 20px $secondary;
      left: 0;
    }
    .description {
      left: 25%;
      position: relative;
      width: 35%;
      padding-bottom: 100px;;
    }
}

// position on second section
.right-block-content {
  position: relative;
    .description {
      text-align: right;  
      position: relative;
      margin-left: 100px;
      width: 38%;
      padding-bottom: 100px;
      top: 40px;
    }
    img {
      box-shadow: -20px 20px $secondary;
      right: 0;
    }
}

// background image
.brand-image-background {
  background-image: url(../assets/banner.jpg);
  background-size: cover;
  height: 400px;
}

// search function
.search-function {
  background-color: $light-primary;
  padding: 120px 0;
    .search-function-inner {
      text-align: center;
      margin: 0 auto;
    }
}

// site contact section 
.contact {
  background-image: url(../assets/contact-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  height: 55vh;
}

// contact form
.contact-section-container {
  background-color: $light-primary;
    form {
      position: relative;
      top: -140px;
      left: -40px;
      background-color: $tertiary;
      box-shadow: 20px 20px $secondary;
        fieldset {
          width: 100%;
          padding: 60px;
        }
    }
}

// placeholder opacity
.contact-section-outer {
  display: flex;
  justify-content: space-between;
    input::placeholder {
      color: $light-white;
      opacity: 100%;
    }
    textarea::placeholder {
      color: $light-white;
      opacity: 100%;
    }
}

// contact social icoms
.contact-social-links {
  width: 30%;
  margin-left: 50px;
    a {
      margin: 20px 0;
      display: inline-block;
      color: inherit;
      text-decoration: none;
    }
    li {
      color: $dark-secondary;
      list-style-type: none;
    }
}

// icon list
.contact-icons {
  display: flex;
  justify-content: space-between;
  width: 55%;
    span {
      font-size: 1.1rem;
    }
    li {
      margin-right: 20px;
    }
}

@import "partials/responsive";