html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav ul li {
  padding: 20px;
  list-style: none;
  display: inline-block;
}
nav ul li a {
  text-transform: uppercase;
}

.logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
}

nav a {
  color: inherit;
  text-decoration: none;
}

footer {
  background-color: #1A315C;
  padding: 8px 0;
  text-align: center;
}
footer p {
  color: white;
  font-size: 0.9rem;
  margin: 0;
}

p ~ a {
  font-family: "Pacifico", cursive;
  color: #1A315C;
  text-decoration: none;
  padding: 2px 35px;
}

.learn-techniques a, .search-by-style a {
  background-color: #1A315C;
  color: #FFF;
}

.company-descriptions a {
  background: #bfd4f9;
}

.blog-backdrop {
  color: #FFF;
  background-color: #ccedfb;
}
.blog-backdrop .main-blog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

p, ul {
  margin: 10px;
}

.new-collection {
  background-color: #315669;
  top: -100px;
  width: 60%;
  position: relative;
}
.new-collection img {
  position: relative;
  top: -30px;
  width: 98%;
  -webkit-box-shadow: 15px 15px #0cadc0;
          box-shadow: 15px 15px #0cadc0;
}
.new-collection h2 + p {
  color: #ccedfb;
  margin-bottom: 40px;
}
.new-collection .article-card {
  background-color: #315669;
  top: -21px;
  position: relative;
  width: 98%;
  padding: 20px;
  position: relative;
}
.new-collection .article-card:after {
  content: "";
  position: absolute;
  top: -2%;
  left: -2%;
  height: 104%;
  width: 102%;
  -webkit-box-shadow: 15px 15px #0cadc0;
          box-shadow: 15px 15px #0cadc0;
}

.our-mission {
  background-color: #315669;
  width: 30%;
  height: 100%;
  padding-bottom: 40px;
}
.our-mission img {
  top: -20px;
  left: 20px;
  position: relative;
}
.our-mission h4 ~ p {
  margin-bottom: 30px;
}
.our-mission li {
  list-style-position: inside;
}

.blog-comments {
  color: #1A315C;
  top: -100px;
  position: relative;
}
.blog-comments h4 {
  margin-bottom: 40px;
}
.blog-comments p {
  color: #161515;
}

.blog-user-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-image {
  width: 10%;
}
.profile-image img {
  width: 100%;
}

.blog-comment {
  width: 70%;
  margin-bottom: 50px;
}
.blog-comment p:first-child {
  font-weight: 700;
  margin-bottom: 10px;
}
.blog-comment p {
  margin: 0;
  margin-left: 20px;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lato", Arial, sans-serif;
  color: #1A315C;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 3.4rem;
  line-height: 3.2;
}

h2 {
  font-size: 2.75rem;
  line-height: 1.5;
}

h3 {
  font-size: 2.15rem;
  line-height: 1.9;
  letter-spacing: 2.7px;
}

h4 {
  font-size: 1.75rem;
  letter-spacing: 2.5px;
}

h5 {
  font-size: 1.75rem;
  line-height: 1.75;
  letter-spacing: 2.5px;
}

h6 {
  font-size: 1.25rem;
  letter-spacing: 2.5px;
}

.logo {
  font-size: 1.9rem;
  line-height: 1.2;
  letter-spacing: 1.7px;
}

button {
  font-size: 1.35rem;
  line-height: 1.6;
  letter-spacing: 1.4px;
}

nav {
  font-size: 1rem;
  line-height: 1.45;
  letter-spacing: 1.4px;
}

ul {
  margin: 0;
  padding: 0;
}

section {
  padding: 75px 0;
}

.home {
  background-image: url(../assets/header-home.jpg);
  background-position: center;
  height: 90vh;
}
.home h1 {
  width: 55%;
  font-size: 2.5rem;
  line-height: 1.5;
}

.home-box {
  width: 60%;
}

.learn-techniques {
  background-color: #ccedfb;
}
.learn-techniques .learn-section {
  margin-top: 200px;
}
.learn-techniques .learn-section img {
  margin-top: 50px;
  -webkit-box-shadow: -15px 15px #0cadc0;
          box-shadow: -15px 15px #0cadc0;
}

.learn-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.learn-section .learn-info img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
}

.gallery {
  background-color: #315669;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery ul li {
  display: inline-block;
  width: calc((100%/3) - 30px);
}
.gallery ul img {
  width: 100%;
}

.navigation-info {
  background-color: #ccedfb;
}
.navigation-info .layout-row-one, .navigation-info .layout-row-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.circle-icon {
  width: 58px;
  height: 58px;
  background-color: #0cadc0;
  border-radius: 50%;
  position: relative;
}
.circle-icon span {
  top: 16px;
  left: 14px;
  position: absolute;
  color: #FFF;
  font-size: 1.3rem;
}

.icon {
  margin-left: 5px;
}

.fa-file {
  margin-left: 7px;
}

.info-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info-main h4 {
  margin: 0;
  padding-left: 20px;
}

.info-segment {
  width: calc(100%/2);
}
.info-segment p {
  margin-left: 80px;
}

.main-info-section {
  background-color: #315669;
}
.main-info-section h4, .main-info-section p {
  color: #FFF;
}
.main-info-section a {
  background-color: #bfd4f9;
}

.image-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}
.image-section img {
  -webkit-box-shadow: 20px 20px #0cadc0;
          box-shadow: 20px 20px #0cadc0;
}

.discover-markets {
  position: relative;
  width: 100%;
}
.discover-markets img {
  top: -120px;
  position: absolute;
  width: 45%;
}
.discover-markets h4, .discover-markets p, .discover-markets a {
  position: relative;
  top: -40px;
  width: 38%;
  left: 58%;
}

.discover-markets-info {
  margin-right: 70px;
}

.new-locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}
.new-locations .locations-info {
  text-align: right;
  position: relative;
  margin-left: 100px;
  width: 38%;
}
.new-locations img {
  position: absolute;
  right: 0;
  width: 45%;
  -webkit-box-shadow: -20px 20px #0cadc0;
          box-shadow: -20px 20px #0cadc0;
}
.new-locations h4, .new-locations p, .new-locations a {
  text-align: right;
  position: relative;
}

.thread-background {
  background-image: url(../assets/banner.jpg);
  height: 400px;
}

.search-by-style {
  background-color: #ccedfb;
}
.search-by-style .search-styles {
  text-align: center;
  margin: 0 auto;
}
.search-by-style .search-styles p {
  margin-bottom: 50px;
}

.blog {
  background-image: url(../assets/blog-header.jpg);
  background-size: fill;
  background-repeat: no-repeat;
  background-position: top right;
  height: 50vh;
}
.blog h1 {
  width: 55%;
  font-size: 2.5rem;
  line-height: 1.5;
}

.main-blog-content {
  padding: 0;
}

.blog-comments {
  font-size: 1rem;
  letter-spacing: 1.2px;
}