html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

body {
  font-family: "Lato", Arial, sans-serif;
  color: #1A315C;
  font-size: 0.9rem;
  line-height: 1.5;
  letter-spacing: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  margin: 0;
}

.dropdown ul {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
}

ul,
li {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.4rem;
  line-height: 3.2;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.5;
}

h3 {
  font-size: 2.15rem;
  line-height: 1.9;
  letter-spacing: 2.7px;
}

h4 {
  font-size: 1.75rem;
  letter-spacing: 2.5px;
}

h5 {
  font-size: 1.75rem;
  line-height: 1.75;
  letter-spacing: 2.5px;
}

h6 {
  font-size: 1.25rem;
  letter-spacing: 2.5px;
}

.logo {
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: 1.7px;
}

button {
  font-size: 1.35rem;
  line-height: 1.6;
  letter-spacing: 1.4px;
}

nav {
  font-size: 1rem;
  line-height: 1.45;
  letter-spacing: 1.4px;
}

.home h1 {
  padding: 20px 0;
  width: 50%;
  font-size: 2.7rem;
  line-height: 1.4;
  letter-spacing: 1px;
}

.blog-comments {
  font-size: 1rem;
  letter-spacing: 1.2px;
}

.btn {
  font-size: 1rem;
}

button {
  font-size: 1rem;
}

.blog h1, .contact h1 {
  width: 55%;
  padding: 80px 0;
  font-size: 2.5rem;
  line-height: 1.5;
}

.contact-info-icons {
  font-size: 0.9rem;
}

.address-info {
  padding: 0;
}
.address-info li {
  font-size: 0.9rem;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  max-width: 1200px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
}
nav .fa-bars {
  display: none;
}
nav p {
  -ms-flex-item-align: center;
      align-self: center;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
}
nav ul li {
  padding: 20px;
  list-style: none;
  display: inline-block;
  position: relative;
}
nav ul li a {
  text-transform: uppercase;
}
nav ul li a::after {
  content: "";
  left: 10%;
  bottom: 10px;
  position: absolute;
  width: 76%;
}
nav ul li a:hover::after, nav ul li a:focus::after {
  border-bottom: 2px solid #0cadc0;
}

.logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
}

nav a {
  color: inherit;
  text-decoration: none;
}

footer {
  background-color: #161515;
  padding: 8px 0;
  text-align: center;
}
footer p {
  color: white;
  font-size: 0.9rem;
  margin: 0;
}

.btn {
  font-family: "Pacifico", cursive;
  color: #1A315C;
  margin-top: 15px;
  display: inline-block;
}
.btn a {
  text-decoration: none;
  padding: 2px 35px;
  position: relative;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}

.btn-primary-style a {
  color: #FFF;
  background-color: #1A315C;
}
.btn-primary-style a:hover, .btn-primary-style a:focus {
  color: #FFF;
  background-color: #0cadc0;
}

.btn-secondary-style a {
  color: #1A315C;
  background-color: #bfd4f9;
}
.btn-secondary-style a:hover, .btn-secondary-style a:focus {
  color: #FFF;
  background-color: #1A315C;
}

button {
  font-family: "Pacifico", cursive;
  background-color: #1A315C;
  color: #FFF;
  border: 0;
  width: 100%;
  padding: 8px 0;
  letter-spacing: 3px;
}

.contact-section-container button {
  color: #315669;
  background-color: #bfd4f9;
  -webkit-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}
.contact-section-container button:hover, .contact-section-container button:focus {
  color: #FFF;
  background-color: #1E1713;
}

.blog {
  background-image: url(../assets/blog-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  height: 65vh;
}

.blog-main-content {
  padding: 0;
}

.blog-page-container {
  background-color: #ccedfb;
  color: #FFF;
}
.blog-page-container .blog-main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-main-feature {
  background-color: #315669;
  width: 60%;
  position: relative;
  top: -100px;
}
.blog-main-feature img {
  position: relative;
  top: -30px;
  width: 98%;
  -webkit-box-shadow: 18px 18px #0cadc0;
          box-shadow: 18px 18px #0cadc0;
}
.blog-main-feature h2 {
  margin-top: 30px;
}
.blog-main-feature .author-info {
  color: #ccedfb;
  margin-top: 20px;
  margin-bottom: 40px;
}
.blog-main-feature p:last-child {
  margin-bottom: 70px;
}

.article-card {
  top: -21px;
  position: relative;
}
.article-card:after {
  content: "";
  position: absolute;
  width: 103%;
  height: 125%;
  top: -11%;
  left: -5%;
  -webkit-box-shadow: 18px 18px #0cadc0;
          box-shadow: 18px 18px #0cadc0;
}

.blog-article-sidebar {
  background-color: #315669;
  width: 25%;
  top: 100px;
  height: 100%;
  padding-bottom: 40px;
  position: relative;
}
.blog-article-sidebar img {
  width: 94%;
  left: 22px;
  top: -20px;
  position: relative;
}
.blog-article-sidebar ul {
  padding: 0;
}
.blog-article-sidebar ul li {
  list-style-position: inside;
}

.blog-comments-section {
  color: #1A315C;
  top: -50px;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}
.blog-comments-section h4 {
  margin-bottom: 40px;
}
.blog-comments-section p {
  color: #161515;
}

.blog-user-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
.blog-user-comment .profile-image {
  width: 10%;
}
.blog-user-comment .profile-image img {
  width: 100%;
}

.blog-comment {
  width: 70%;
}
.blog-comment .post-time {
  font-weight: 700;
  margin-bottom: 10px;
}
.blog-comment .post-time, .blog-comment .user-comment {
  margin: 0;
  margin-left: 20px;
}

.user-form {
  padding-top: 0;
}

.blog-comment-form button {
  color: #FFF;
  background-color: #1A315C;
  -webkit-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}
.blog-comment-form button:hover, .blog-comment-form button:focus {
  background-color: #0cadc0;
}

fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
}

input, textarea {
  letter-spacing: 2px;
  margin-bottom: 40px;
}

input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #0cadc0;
  padding: 20px 30px;
  width: calc(50% - 20px);
}

textarea {
  background-color: transparent;
  resize: none;
  border: 2px solid #0cadc0;
  padding: 30px 40px;
  width: 100%;
}

html {
  font-size: 125%;
}

main {
  position: relative;
}

section {
  padding: 75px 0;
}

.home {
  background-image: url(../assets/header-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 85vh;
}
.home h1 {
  padding-top: 50px;
}

.home-box-pic {
  top: -300px;
  position: absolute;
  width: 60%;
}

.section-info {
  background-color: #ccedfb;
}

.section-info-outer {
  position: relative;
  top: 130px;
  padding: 150px 0;
}
.section-info-outer img {
  position: relative;
  top: -50px;
  -webkit-box-shadow: -15px 15px #0cadc0;
          box-shadow: -15px 15px #0cadc0;
}

.section-info-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-info-outer .section-info-content {
  width: 60%;
}
.section-info-outer .section-info-image img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.gallery {
  background-color: #315669;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery ul li {
  display: inline-block;
  width: calc(33.3333333333% - 15px);
}
.gallery ul img {
  width: 100%;
}

.section-main-links {
  background-color: #ccedfb;
  padding: 100px 0;
}

.section-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-main {
  width: 58px;
  height: 58px;
  background-color: #0cadc0;
  border-radius: 50%;
  position: relative;
}
.icon-main span {
  top: 16px;
  left: 14px;
  position: absolute;
  color: #FFF;
  font-size: 1.3rem;
}

.info-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info-main h4 {
  margin: 0;
  padding-left: 20px;
}

.fa-calendar-check {
  margin-left: 5px;
}

.fa-file {
  margin-left: 7px;
}

.section-main-info-block {
  width: calc(50% - 20px);
}
.section-main-info-block p {
  margin-left: 80px;
}

.section-locations {
  background-color: #315669;
  padding: 75px 0 0 0;
}
.section-locations h4, .section-locations p {
  color: #FFF;
}

.layout-section {
  padding: 0px 0px 60px 0px;
}
.layout-section img {
  width: 45%;
  position: absolute;
}

.left-block-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
}
.left-block-content img {
  top: -100px;
  -webkit-box-shadow: 20px 20px #0cadc0;
          box-shadow: 20px 20px #0cadc0;
  left: 0;
}
.left-block-content .description {
  left: 25%;
  position: relative;
  width: 35%;
  padding-bottom: 100px;
}

.right-block-content {
  position: relative;
}
.right-block-content .description {
  text-align: right;
  position: relative;
  margin-left: 100px;
  width: 38%;
  padding-bottom: 100px;
  top: 40px;
}
.right-block-content img {
  -webkit-box-shadow: -20px 20px #0cadc0;
          box-shadow: -20px 20px #0cadc0;
  right: 0;
}

.brand-image-background {
  background-image: url(../assets/banner.jpg);
  background-size: cover;
  height: 400px;
}

.search-function {
  background-color: #ccedfb;
  padding: 120px 0;
}
.search-function .search-function-inner {
  text-align: center;
  margin: 0 auto;
}

.contact {
  background-image: url(../assets/contact-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  height: 55vh;
}

.contact-section-container {
  background-color: #ccedfb;
}
.contact-section-container form {
  position: relative;
  top: -140px;
  left: -40px;
  background-color: #315669;
  -webkit-box-shadow: 20px 20px #0cadc0;
          box-shadow: 20px 20px #0cadc0;
}
.contact-section-container form fieldset {
  width: 100%;
  padding: 60px;
}

.contact-section-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-section-outer input::-webkit-input-placeholder {
  color: #FFF;
  opacity: 100%;
}
.contact-section-outer input::-moz-placeholder {
  color: #FFF;
  opacity: 100%;
}
.contact-section-outer input:-ms-input-placeholder {
  color: #FFF;
  opacity: 100%;
}
.contact-section-outer input::-ms-input-placeholder {
  color: #FFF;
  opacity: 100%;
}
.contact-section-outer input::placeholder {
  color: #FFF;
  opacity: 100%;
}
.contact-section-outer textarea::-webkit-input-placeholder {
  color: #FFF;
  opacity: 100%;
}
.contact-section-outer textarea::-moz-placeholder {
  color: #FFF;
  opacity: 100%;
}
.contact-section-outer textarea:-ms-input-placeholder {
  color: #FFF;
  opacity: 100%;
}
.contact-section-outer textarea::-ms-input-placeholder {
  color: #FFF;
  opacity: 100%;
}
.contact-section-outer textarea::placeholder {
  color: #FFF;
  opacity: 100%;
}

.contact-social-links {
  width: 30%;
  margin-left: 50px;
}
.contact-social-links a {
  margin: 20px 0;
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
.contact-social-links li {
  color: #161515;
  list-style-type: none;
}

.contact-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55%;
}
.contact-icons span {
  font-size: 1.1rem;
}
.contact-icons li {
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .article-card {
    top: -21px;
    position: relative;
  }
  .article-card:after {
    content: "";
    position: absolute;
    width: 103%;
    height: 122%;
    top: -10%;
    left: -5%;
    -webkit-box-shadow: 18px 18px #0cadc0;
            box-shadow: 18px 18px #0cadc0;
  }
}
@media (max-width: 940px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #FFF;
    z-index: 10;
  }

  .logo {
    position: relative;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .fa-bars {
    position: fixed;
    top: 30px;
    right: 30px;
  }

  .btn {
    font-family: "Pacifico", cursive;
    color: #1A315C;
    margin-top: 10px;
    display: inline-block;
    background-color: #1A315C;
  }
  .btn a {
    text-decoration: none;
    padding: 10px 70px;
  }

  .btn-secondary-style {
    background-color: #bfd4f9;
  }

  .dropdown {
    position: fixed;
    width: 100%;
  }
  .dropdown ul {
    display: none;
    color: #FFF;
    background-color: #0cadc0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 90px;
    left: 0;
    width: 100%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .dropdown li {
    padding: 30px 0;
  }
  .dropdown .fa-bars {
    font-size: 2rem;
    display: inline-block;
  }
  .dropdown .fa-bars::active {
    visibility: visible;
  }

  .header-content {
    margin-top: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }

  .home h1, .blog h1, .contact h1 {
    padding-top: 20vh;
    width: 80%;
  }

  .section-info-outer,
.gallery,
.section-main-container,
.info-main,
.left-block-content,
.right-block-content,
.contact-section-outer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .section-info {
    padding: 0;
  }

  .section-info-outer {
    top: 0;
  }
  .section-info-outer .section-info-content {
    padding-top: 50px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .section-info-outer .section-info-image {
    margin: 0 auto;
    margin-top: 130px;
    width: 80%;
  }

  .gallery {
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gallery ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery ul li {
    margin: 0 auto;
    width: 80%;
    padding: 20px 0;
  }

  .section-main-info-block {
    width: 100%;
  }
  .section-main-info-block h4 {
    padding: 0;
    margin: 0 auto;
  }
  .section-main-info-block p {
    margin: 40px 0;
  }

  .icon-main {
    margin: 0 auto;
  }

  .layout-section img {
    margin: 0 auto;
    width: 80%;
    position: relative;
  }

  .left-block-content .description {
    padding-top: 80px;
    left: 0;
    text-align: center;
    width: 80%;
  }
  .left-block-content img {
    top: 0;
  }

  .right-block-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .right-block-content .description {
    padding-top: 80px;
    text-align: center;
    margin: 0 auto;
    width: 80%;
  }
  .right-block-content img {
    margin: 0 auto;
    position: relative;
    -webkit-box-shadow: 20px 20px #0cadc0;
            box-shadow: 20px 20px #0cadc0;
  }

  .search-function-inner h4 {
    font-size: 2rem;
  }

  .blog {
    background-position: 30%;
  }

  .blog-page-container {
    height: 100%;
    padding: 100px 0;
  }
  .blog-page-container .blog-main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .blog-main-feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    width: 85%;
    top: 0;
  }
  .blog-main-feature img {
    margin-top: 80px;
    margin-bottom: 50px;
    -ms-flex-item-align: center;
        align-self: center;
    width: 60%;
    -webkit-box-shadow: 18px 18px #0cadc0;
            box-shadow: 18px 18px #0cadc0;
  }

  .article-card {
    position: relative;
  }
  .article-card:after {
    content: "";
    -webkit-box-shadow: 0px 0px;
            box-shadow: 0px 0px;
  }

  .blog-article-sidebar {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    padding: 0;
  }
  .blog-article-sidebar img {
    -ms-flex-item-align: center;
        align-self: center;
    width: 40%;
    left: 0;
    top: 60px;
    -webkit-box-shadow: 18px 18px #0cadc0;
            box-shadow: 18px 18px #0cadc0;
  }
  .blog-article-sidebar .description {
    padding: 120px 0;
  }

  .blog-comments-section {
    color: #1A315C;
    top: 160px;
    position: relative;
    padding-bottom: 75px;
  }
  .blog-comments-section h4 {
    margin-bottom: 40px;
  }
  .blog-comments-section p {
    color: #161515;
  }

  .blog-comment {
    width: 100%;
  }

  .blog-comment-form fieldset {
    width: 100%;
  }

  .user-form {
    padding-top: 75px;
  }

  .contact-section-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-section-container form {
    left: 0;
  }
  .contact-section-container form fieldset {
    width: 100%;
  }

  .contact-social-links {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }

  .contact-icons {
    width: 80%;
  }
  .contact-icons span {
    font-size: 1.5rem;
  }

  .contact-icons {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .home-box-pic {
    top: -250px;
  }

  .home h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  .section-main-info-block h4 {
    margin-top: 10px;
  }
  .section-main-info-block p {
    text-align: center;
    margin: 20px 0px 50px 0px;
  }

  fieldset {
    width: 100%;
  }

  input {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 10px;
  }

  textarea {
    margin-top: 30px;
  }

  .contact h1 {
    width: 80%;
  }

  .contact-icons {
    margin: 0 auto;
  }

  .btn {
    margin-top: 30px;
  }
}
@media (max-width: 480px) {
  .home {
    background-position: 40%;
  }
  .home .wrapper {
    height: 100%;
  }
  .home .wrapper h1 {
    padding: 20px 0;
  }

  .home-box-pic {
    visibility: hidden;
  }

  .section-info-outer {
    position: relative;
    padding: 0;
  }
  .section-info-outer .section-info-image {
    margin-top: 100px;
    margin-bottom: 20px;
    width: 80%;
  }
  .section-info-outer .section-info-image img {
    -webkit-box-shadow: 10px 10px #0cadc0;
            box-shadow: 10px 10px #0cadc0;
  }

  .gallery {
    padding: 40px 0;
  }
  .gallery ul li {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
  }

  .section-main-links {
    padding: 40px 0;
    text-align: center;
  }

  .section-main-info-block h4 {
    margin-top: 5px;
  }
  .section-main-info-block p {
    margin: 20px 0 40px 0;
  }

  .section-locations img {
    -webkit-box-shadow: 10px 10px #0cadc0;
            box-shadow: 10px 10px #0cadc0;
  }
  .section-locations .description {
    padding: 40px 0 80px 0;
  }

  .brand-image-background {
    height: 30vh;
  }

  .search-function {
    padding: 90px 0;
  }

  .blog-page-container {
    padding-top: 30px;
  }

  .blog-main-content {
    height: 100%;
  }

  .blog-main-feature img {
    width: 80%;
    margin: 20px 0;
    position: relative;
    -webkit-box-shadow: 10px 10px #0cadc0;
            box-shadow: 10px 10px #0cadc0;
    top: 0;
  }

  .blog-article-sidebar {
    position: relative;
    top: 50px;
    padding-bottom: 20px;
  }
  .blog-article-sidebar img {
    width: 80%;
    margin: 20px 0;
    position: relative;
    -webkit-box-shadow: 10px 10px #0cadc0;
            box-shadow: 10px 10px #0cadc0;
    top: 0px;
  }
  .blog-article-sidebar .description {
    padding: 20px 0;
  }

  .blog-comments-section {
    top: 100px;
  }

  .blog-user-comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-user-comment .profile-image {
    width: 30%;
  }
  .blog-user-comment .profile-image img {
    width: 100%;
  }
  .blog-user-comment .blog-comment p {
    margin: 10px 0;
  }

  .contact-section-container form {
    -webkit-box-shadow: 15px 15px #0cadc0;
            box-shadow: 15px 15px #0cadc0;
  }
  .contact-section-container form fieldset {
    padding: 50px 30px 80px 30px;
  }

  .contact-social-links {
    position: relative;
    top: -80px;
    width: 80%;
  }
}